[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
snowflake-connector-python = {extras = ["pandas"],version = "*"}

[requires]
python_version = "3.6"
